html,
body{margin:0;padding:0;font-family:Arial, sans-serif;}
ul{margin:0;padding:0;}
li{list-style-type:none;}
h2{margin:50px 0 0 0;}

#dropArea{background:#aef;width:100%;padding:50px 0;border-radius:5px;}
#dropArea{text-align:center;font-size:40px;}

#dropArea:hover,
#dropArea.hover{background:#eaf;}

h1{margin:10px 0 0 0;}
h1 a{text-decoration:none;color:#000;}

.s{border:1px solid #666;padding:10px;margin:10px 0;text-align:center;overflow:auto;}

.content{width:800px;margin:0 auto;}

/* Liste */
.all{text-align:center;position:relative;display:inline-block;}
.all li{/*display:inline-block;*/float:left;width:165px;height:145px;position:relative;padding:5px 15px;margin:10px 1px;border:1px solid #ccc;text-align:center;background:#fff;overflow:hidden;}
.all li .suppress{position:absolute;right:5px;top:5px;background:#000;color:#fff;font-weight:bold;padding:3px 5px;text-decoration:none;cursor:pointer;}
.all input{display:block;clear:both;font-weight:normal;font-size:14px;margin:0;}
.all span{font-size:11px;color:#ccc;display:block;}

.all .ui-sortable-helper{box-shadow:0 0 10px #ccc;}
.all .ui-state-highlight{z-index:25;cursor:move;background:#ccc;}


footer{height:50px;border-top:1px solid #ccc;background:#666;padding:0 40px;}
footer ul{margin:0;padding:14px 0;}
footer li{float:left;padding-right:10px;}
footer a{color:#fff;}